* {box-sizing:border-box;}
body {background:#e4eef4;font-family:'Open Sans',sans-serif;font-weight:400;color:#fff;line-height:1.4em;margin:0;}

a {color:#fff;font-weight:600;text-decoration:none;outline:1px dotted #fff;white-space:nowrap;padding:2px;}
a:visited {color:#fff;outline:1px dotted #fff;}
a:hover, a:active {color:#000;outline:1px dotted #fff;background:rgba(255,255,255,0.85);}
a.blocklink {display:block;white-space:normal;font-weight:normal;padding:0.35em;margin:0.7em 0;border-left:0.35em solid #fff;}
a.blocklink:last-child {margin-bottom:0;}

#content {position:fixed;width:100%;height:100%;overflow:auto;z-index:1;}
#byjoby-landing {position:relative;background:#0097fb;padding:10px;z-index:3;}
#lifecanvasdemo {background:#e4eef4;}
h1, h2, h3, h4, h5, h6 {text-align:center;margin-bottom:0;margin-top:1.4em;font-weight:700;}
h1 {margin-top:0.35em;font-weight:800;}
h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {margin-top:0;}
p {margin:0.7em 0;}
p:last-child {margin-bottom:0;}

p.deck {color:#0097fb;background:#fff;font-weight:200;text-align:center;font-size:1.25em;text-transform:uppercase;}

#work, #about, #links {margin-bottom:0.7em;}

#byjoby-teaser {position:fixed;bottom:0;left:0;right:0;background:#0097fb;text-align:center;z-index:4;border-top:3px solid #fff;box-shadow:0 0 10px #fff;}

@media screen and (min-width:470px) {
	#byjoby-landing:before {content:"";margin-top:-60px;float:right;display:block;height:270px;width:222px;background:url(portrait-small.png);}
}
@media screen and (min-width:640px) {
	#byjoby-landing {width:640px; margin:0 auto;border:10px solid #e4eef4;}
}
@media screen and (min-width:940px) {
	#byjoby-landing:before {background:none;display:none;}
	#content:after {content:"";display:block;height:363px;width:222px;background:url(portrait-small.png);position:absolute;
		right:0;top:0;}
}
@media screen and (min-width:1100px) and (min-height:500px) {
	#content:after {content:"";display:block;height:726px;width:443px;background:url(portrait.png);position:absolute;
		right:0;top:0;}
}

@media screen and (min-width:1280px) and (min-height:910px) {
	#byjoby-landing {margin-top:400px;}
	#work, #about, #links {z-index:1;position:absolute;background:#0097fb;padding:10px;width:320px;margin:0 auto;border:10px solid #e4eef4;}
	#work {left:-320px;top:50%;}
	#about {right:-320px;bottom:-300%;}
	#links {width:480px;bottom:-400%;left:10%;}
	p.deck {margin-bottom:5px;position:relative;z-index:1;}
	#content:after {left:auto;right:40%;top:-150px;}
	#byjoby-teaser {border-top:0;}
}
@media screen and (min-width:1380px) and (min-height:910px) {
	#work {left:-370px;}
	#about {right:-370px;}
}
@media screen and (min-width:1380px) and (min-height:960px) {
	#byjoby-landing {margin-top:450px;}
	#content:after {left:auto;right:45%;top:-130px;}
}